

* {
    padding: 0;
    margin: 0;
    font: inherit;
}
.header {
    min-height: auto;
    width: auto;
    background-image: url("mountains.png");
    background-size: 100% 100%;
    
    background-position: center;
    
}

.register-btn {
    background: rgb(157,152,192);
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 160px;
}


.header h1 {
    font-size: 6vmin;
    font-weight: 500;
    color: rgb(157,152,192);
    text-align: center;
    padding-top: 10%;
}

.search-bar {
    background-color: rgb(255,255,255, 70%);
    width: 80%;
    margin: 15% auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search-bar-form {
    padding-right: 0;
}
.search-bar form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: -1000px;
}

.search-bar form input {
    display: flex;
    border: 0;
    outline: none;
    background: transparent;
    padding-right: ;
}
.search-bar form button {
    background-color: rgb(157,152,192);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-bar form button img {
    width: 15px;
    margin-top: 7px;

}

.location-input {
    flex: 1;
}

.search-bar form label {
    font-weight: 600;
}

.column-1 {
    display: grid;

    
}

.mobile-nav-toggle {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space:  nowrap;
    border: 0;
}

.icon-hamburger{
    height: 40px;
    width: auto;
}


.opened {
    display: block;
    position: fixed;
}

/*@media (min-width: 1451px)  {
    
    .primary-navigation img {
        width: 50px;     

    }

    .primary-navigation {
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 7%;
    }
    .logo {
        width: 140px;
        cursor: pointer;
    }
    
    
    .nav-links li {
        list-style: none;
        display: inline-block;
        margin: 10px 30px;
        font-size: 16px;
     }
     .nav-links li a {
         text-decoration: none;
         color: rgb(157,152,192);
     }
    
    .register-btn {
        background: rgb(157,152,192);
        color: white;
        padding: 8px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 20px;
        margin-left: 160px;
    }
    
}

/*@media (max-width: 1252px)  {
    
    .logo {
        display: none;
    }
   
    .primary-navigation {
        display: none; 
        inset: var(--size-900) var(--size-900);
        background-color: white;
        
    }

    .nav-links {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .nav-links li a {
        text-decoration: none;
        justify-content: space-between;
        font-size: 17px;
    
    }
    .nav-links li {
        padding-bottom: 7px;
    }
   
    .primary-navigation[data-visible] {
        display: block;
    }

    .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    padding-left: 90%;
    padding-top: 3%;
    
    }

    .mobile-nav-toggle .icon-close {
    display: none;
    height: 40px;
    width: auto;
    }
    .register-btn {
        margin-right: 155px;
    }

    .search-bar {
        width: 80%;
        margin: 30px auto;
        margin-top: 100px;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form {
        display: block;

    }
    .search-bar form input {
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;

    }
    .search-bar form button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: rgb(246,196,197);
    }
}
*/




main h1 {
    font-size: 2vw;
    font-weight: 500;
    color: rgb(157,152,192);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 3vmin;
    color: black;
    display: flex;
    justify-content: left;
    padding-right: 10px;
}



.section-container h2 {
    font-size: 3vmin;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.section-container p {
    color: white;
    font-size: 2vmin ;
    padding-left: 10px;
    padding-right: 10px;
}

.section-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem;
    padding-left: 251px;
    padding-right: 250px;
    gap: 1.5rem;
    grid-template-rows: 50% 50%;


    
}









.item-1 {
    background-color: rgb(146,138,186)
}
.item-2 {
    background-color:rgb(120,120,172);
}
.item-3 {
    background-color:rgb(45,43,70);
}
.item-4 {
    background-color:rgb(45,43,70);
}
.item-5 {
    background-color:rgb(120,120,172);
}
.item-6 {
    background-color: rgb(146,138,186)
}
.hs {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap;
  }

  .hs {
    display: flex;
    overflow-x: scroll; 
    white-space: nowrap;
  }
  .hs > li,
.item {
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  padding: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  border: 2px solid rgb(234,234,235);
  box-sizing: border-box;
}

.app ul li img {
  width: 100%;
  height: auto;
  
}




.app {
    padding-left: 70px;
    padding-right: 70px;
    width: 1389;

}


.app {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
  }
  .app > * {
    grid-column: 2 / -2;
  }
  .app > .full {
    grid-column: 1 / -1;
  }


.hs .item img {
    width: 300px;
}
.hs .item p {
    
    height: 40px;
    padding-right:150px;
    padding-top: 10px;
}



.images {
    grid-template-rows:20% ;
   
}
.image img {
    height: 70px;
    padding-bottom: 20px;
}
.image {
    height: 100px;
    display: grid;
    padding-bottom: 30px;
    
}
.image .image-1 p {
    padding-top: ;
}


.listings {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.listings div img {
    height: 500px;
    width: 1200px;
}

.listings-div p {
    position: absolute;
    left: 100px;
    padding-left: 175px;
    padding-top: 120px;
    margin-right: 900px;
    color: white;
    font-size: 3vmin;
    
    }

.section-1 {
    height: auto;
    display: grid;
    grid-row: 50% 50%;
}

.listings div button {
    position: absolute;
    left: 100px;
    margin-right: 900px;
    background: rgb(157,152,192);
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 175px;
    margin-top: 200px;
    border: none;
}


@media (max-width: 425px)  {
    
    
    
    .section-container {
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 1.5rem;
        
       
        gap: 1.5rem;

    
    
        
    }
        main h1 {
            font-size: 3vh;
        }
        .listings div img {
            width: 100%;
        }
    
        .listings-div p {
            position: absolute;
            left: 50px;
            padding-left: 0px;
            padding-top: 16vh;
            margin-right: 1svh;
            color: white;
            font-size: 3vmin;
        }
        .benefits-p {
            padding-top: 9px;
            padding-left: 50px
    
        }
        .image {
            display: flex;
            
        }
    
        .listings div button {
           
            left:35px;
            margin-right: 200px;
            background: rgb(157,152,192);
            color: white;
            padding: 8px 20px;
            border-radius: 20px;
            text-decoration: none;
            font-size: 15px;
            margin-left: 10px;
            margin-top: 200px;
            border: none;
        }
    
        .container {
            padding: 0 7%;
            
    
        }
        .container {
            
        }
        .logo {
            display: none;
        }
       
        .primary-navigation {
            display: none; 
            inset: var(--size-900) var(--size-900);
            background-color: white;
            
        }
    
        .nav-links {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 50px;
        }
        .nav-links li a {
            text-decoration: none;
            justify-content: space-between;
            font-size: 17px;
        
        }
        .nav-links li {
            padding-bottom: 7px;
        }
       
        .primary-navigation[data-visible] {
            display: block;
        }
    
        .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
        
        padding-top: 3%;
        
        }
    
        .mobile-nav-toggle .icon-close {
        display: none;
        height: 40px;
        width: auto;
        }
        .register-btn {
            margin-right: 155px;
        }
    
        .search-bar {
            width: 80%;
            margin: 30px auto;
            margin-top: 100px;
            padding: 20px 10px 30px;
            border-radius: 5px;
            position: relative;
        }
        .search-bar form {
            display: block;
    
        }
        .search-bar form input {
            border-bottom: 1px solid #ddd;
            width: 100%;
            margin-bottom: 20px;
            margin-top: 10px;
            padding-bottom: 10px;
    
        }
        .search-bar form button {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            background-color: rgb(246,196,197);
        }
        .benefits-columns {
           display: grid;
           grid-template-rows: 5;
           padding-top: 30px;
           position:relative;
           
        }    
        
    }
    



@media (max-width: 915px)  {
    
   
    .section-container h2 {
        font-size: 1.8rem;
    }
    .section-container p {
        font-size: 2vh;
        padding-bottom: 20px;
    }

    .section-container {
    
        display: flex;
        flex-wrap:wrap;
       
        padding: 1.5rem;
    
   
    gap: 1.5rem;



    
}
    main h1 {
        font-size: 3vh;
    }
    .listings div img {
        width: 100%;
    }

    .listings-div p {
        position: absolute;
        left: 50px;
        padding-left: 0px;
        padding-top: 16vh;
        margin-right: 1svh;
        color: white;
        font-size: 3vmin;
    }
    .benefits-p {
        padding-top: 9px;
        padding-left: 50px

    }
    .image {
        display: flex;
        
    }

    .listings div button {
       
        left:35px;
        margin-right: 200px;
        background: rgb(157,152,192);
        color: white;
        padding: 8px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 15px;
        margin-left: 10px;
        margin-top: 200px;
        border: none;
    }

    .container {
        padding: 0 7%;
        

    }
    .container {
        
    }
    .logo {
        display: none;
    }
   
    .primary-navigation {
        display: none; 
        inset: var(--size-900) var(--size-900);
        background-color: white;
        
    }

    .nav-links {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .nav-links li a {
        text-decoration: none;
        justify-content: space-between;
        font-size: 17px;
    
    }
    .nav-links li {
        padding-bottom: 7px;
    }
   
    .primary-navigation[data-visible] {
        display: block;
    }

    .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    padding-left: 90%;
    padding-top: 3%;
    
    }

    .mobile-nav-toggle .icon-close {
    display: none;
    height: 40px;
    width: auto;
    }
    .register-btn {
        margin-right: 155px;
    }

    .search-bar {
        width: 80%;
        margin: 30px auto;
        margin-top: 100px;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form {
        display: block;

    }
    .search-bar form input {
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;

    }
    .search-bar form button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: rgb(246,196,197);
    }
    .benefits-columns {
       display: grid;
       grid-template-rows: 5;
       padding-top: 30px;
       position:relative;
       
    }    
    
}





@media (min-width: 916px)  {
    


    .primary-navigation img {
        width: 50px;     

    }

    .primary-navigation {
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 7%;
    }
    .logo {
        width: 140px;
        cursor: pointer;
    }
    
    
    .nav-links li {
        list-style: none;
        display: inline-block;
        margin: 10px 30px;
        font-size: 16px;
     }
     .nav-links li a {
         text-decoration: none;
         color: rgb(157,152,192);
     }
    
    .register-btn {
        background: rgb(157,152,192);
        color: white;
        padding: 8px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 20px;
        margin-left: 160px;
    }
    .benefits-columns {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding-top: 80px;
        padding-left: 251px;
        padding-right: 251px;
        margin-left: 80px
        
    
}

.benefits-h1 h1 {
    padding-top: 150px;
}


